.body{
    display: flex;
    background-color:lightgrey;
    height:600px;
    padding:5px;
    
}

.header h1{
    color:White;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    text-align:center;
    padding:5%;
    width:80%;
    

}

mat-slider{
    min-width:80%;
}

.list-img{
    width:20%;
    display:flex;
    flex-direction: column;
    overflow-y: scroll;
    text-align:center;
    
}
.list-img img{
    size:100%;
    height: auto;
    width: 100%;
    

    
}
.list-img img:hover{
    border:2px red solid;
    cursor: pointer;
}

.header{
    
    color:white;
    background-color:black;
    display:flex;
}
.center{
    text-align:center;
    margin:0 auto;
}
.header img{
    height: auto;
    width: 60px;
}
.header button{
    height: 100%;
    width: 100%;
}
.header mat-icon{
    font-size:60px;
}



